<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Greetings- Olatunji Joshua Kayode{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}Hello Welcome to my page{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
